:root{
    --sm: 640px;
    --md: 768px;
    --lg: 1024px;
    --xl: 1280px;

    --color-prim: #d9dfd5;
    --color-prim-darker: #a2c4aa;
    --color-seco: #52796f;
    --color-seco-blur: #52796faf;
    --color-seco-darker: #354f52;
    --color-seco-darker-blur: #354f52af;

    --small-size: 1rem;
    --standard-size: 1.25rem;
    --big-size: 1.75rem;
}