*,
*::after,
*::before{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
}
:root{
    --nav-bar: rgba(9, 42, 44, 0.8);
    --card: rgba(236, 253, 255, 0.8);
    --nav-link: #e9e9e9;
    --bg: #122b3b;
    --title: #ffffff;
    --paragraph: #e6e6e6;
    --title-dark: #000000; 
    --paragraph-dark: #1f1f1f;
    --link: #26b0ff;
    --link-dark: #0083cf;
}
a{
    display: block;
    text-decoration: none;
}
/* Main */
.prodotti{
    margin-top: 40px;
    border-top: none;
    background-color: var(--bg);
}
main .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: center;
}
/*Sezione Carte*/
.card{
    margin: 10px;
    flex-basis: 20%;
    background-color: var(--card);
    backdrop-filter: blur(30px);
    border-radius: 10px;
    width: 100%;
    height: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.7s ease-in-out;
}
.title-card{
    color: var(--title-dark);
    font-size: 30px;
    text-align: center;
    transition: 0.5s ease-in-out;
    cursor: default;
}
.img-card{
    width: 300px;
    height: 300px;
    margin: 10px;
    transition: 1.5s ease-in-out;
}
.arrow-card-link{
    color: var(--link-dark);
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    cursor: pointer;
}
.card-link{
    color: var(--link-dark);
    font-size: 20px;
    font-weight: 500;
    margin-right: 5px;
}
.arrow-card-link:hover{
    border-bottom: 3px solid var(--link-dark);
}
/* Sezione Prodotti*/
.base{
    height: 800px;
    background-size: auto 1000px;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 10px solid #fff;
    border-bottom: 5px solid #fff;
    transition: 1s ease-in-out;
}
/* Prodotti Tipici */
/* Peperoncino */
.nduja{
    background-image: url(/assets/prodotti-tipici/prodotti-tipici-nduja.png);
}
.crema-peperoncino{
    background-image: url(/assets/prodotti-tipici/prodotti-tipici-crema-peperoncino.png);
    background-color: #644f4f;
}
.bomba-cariatese{
    background-image: url(/assets/prodotti-tipici/prodotti-tipici-bomba-cariatese.png);
    background-color: #ff5100;
}
.peperoncino-melanzane{
    background-image: url(/assets/prodotti-tipici/prodotti-tipici-peperoncino-melanzane.png);
    background-color: #3d0066;
}
.cioccolata-peperoncino{
    background-image: url(/assets/prodotti-tipici/prodotti-tipici-barra-cioccolata-peperoncino.png);
    background-color: #770000;
}
/* Fine Peperoncino */
/* Fichi */
.fichi-barattolo{
    background: url(/assets/prodotti-tipici/prodotti-tipici-fichi.png)center bottom no-repeat;
}
.fichi-confettura{
    background-image: url(/assets/prodotti-tipici/prodotti-tipici-fichi-confettura.png);
}
.fichi-crocette{
    background: url(/assets/prodotti-tipici/prodotti-tipici-fichi-crocette.png)center bottom no-repeat;
    background-color: #adaa92;
}
.fichi-treccia{
    background: url(/assets/prodotti-tipici/prodotti-tipici-fichi-treccia.png)center bottom no-repeat;
    background-color: #b19191;
}
.fichi-mielata{
    background: url(/assets/prodotti-tipici/prodotti-tipici-fichi-mielata.png)center bottom no-repeat;
    background-color: #4e0000;
}
.fichi-baba{
    background-image: url(/assets/prodotti-tipici/prodotti-tipici-fichi-baba.png);
    background-color: #8a3200;
}
/* Fine Fichi */
/* Cioccolata  */
.cioccolata-arancia{
    background-image: url(/assets/prodotti-tipici/prodotti-tipici-barra-cioccolata-arancia.png);
    background-color: #948a00;
}
.cioccolata-cedro{
    background-image: url(/assets/prodotti-tipici/prodotti-tipici-barra-cioccolata-cedro.png);
    background-color: #00571d;
}
.cioccolata-liquirizia{
    background-image: url(/assets/prodotti-tipici/prodotti-tipici-barra-cioccolata-liquirizia.png);
    background-color: #007694;
}
.cioccolata-crema-peperoncino{
    background-image: url(/assets/prodotti-tipici/prodotti-tipici-crema-cioccolato-peperoncino.png);
    background-color: #af3200;
}
.cioccolata-crema-ceraso{
    background-image: url(/assets/prodotti-tipici/prodotti-tipici-crema-ceraso.png);
    background-color: #8f0000;
}
/* Fine Cioccolata  */
/* Marmellata */
.marmellata-peperoncino{
    background-image: url(/assets/prodotti-tipici/prodotti-tipici-marmellata-peperoncino.png);
    background-color: #640000;
}
.marmellata-cipolla-rossa-tropea{
    background-image: url(/assets/prodotti-tipici/prodotti-tipici-marmellata-cipolla-rossa-tropea.png);
    background-color: #5e0056;
}
.marmellata-fragole{
    background-image: url(/assets/prodotti-tipici/prodotti-tipici-marmellata-fragole.png);
    background-color: #ff2525;
}
.marmellata-arancia{
    background-image: url(/assets/prodotti-tipici/prodotti-tipici-marmellata-arancia.png);
    background-color: #ffae00;
}
.marmellata-fichi{
    background-image: url(/assets/prodotti-tipici/prodotti-tipici-marmellata-fichi.png);
    background-color: #396e0d;
}
.marmellata-liquirizia{
    background-image: url(/assets/prodotti-tipici/prodotti-tipici-marmellata-liquirizia.png);
    background-color: #000225;
}
/* Fine Marmellata */
/* Alcolici */
.alcolici-vini{
    background-image: url(/assets/prodotti-tipici//alcolici/alcolici-vini.png);
    background-color: #00410b;
}
.liquore-melonello{
    background-image: url(/assets/prodotti-tipici/prodotti-tipici-liquore-melonello.png);
    background-color: #945900;
}
.alcolici-arancia-cedro{
    background-image: url(/assets/prodotti-tipici//alcolici/alcolici-cioccolata-arancia-cedro.png);
    background-color: #411f00;
}
.grappa-fichi{
    background-image: url(/assets/prodotti-tipici/prodotti-tipici-grappa-fichi.png);
    background-color: #8e9645;
}
/* Fine Alcolici  */
/* Fine Prodotti Tipici */
/* Detersivi */
.ammorbidente-olimpia{
    background-image: url(/assets/detersivi/detersivi-ammorbidente-olimpia.png);
    background-color: #61605c;
}
.ammorbidente-muschio-bianco{
    background-image: url(/assets/detersivi/detersivi-ammorbidente-muschio-bianco.png);
    background-color: #61605c;
}
.ammorbidente-fior-dash{
    background-image: url(/assets/detersivi/detersivi-ammorbidente-fiori-loto.png);
    background-color: #61605c;
}
.lavatrice-olimpia{
    background-image: url(/assets/detersivi/detersivi-lavatrice-olimpia.png);
    background-color: #61605c;
}
.lavatrice-carboni-attivi{
    background-image: url(/assets/detersivi/detersivi-lavatrice-carboni-attivi.png);
    background-color: #61605c;
}
.lavatrice-fior-dash{
    background-image: url(/assets/detersivi/detersivi-lavatrice-fior-dash.png);
    background-color: #61605c;
}
.lavatrice-kikko{
    background-image: url(/assets/detersivi/detersivi-lavatrice-kikko.png);
    background-color: #61605c;
}
.lavatrice-muschio-bianco{
    background-image: url(/assets/detersivi/detersivi-lavatrice-muschio-bianco.png);
    background-color: #61605c;
}
.altri-multiuso-vetri{
    background-image: url(/assets/detersivi/detersivi-altri-multiuso-vetri.png);
    background-color: #61605c;
}
.altri-sapone-dove{
    background-image: url(/assets/detersivi/detersivi-altri-sapone-dove.png);
    background-color: #61605c;
}
/* Fine Detersivi */
/* Artigianato */
/* Terracotta */
.terracotta-pignata{
    background-image: url(/assets/artigianato/terracotta/artigianato-terracotta-pignata.png);
    background-color: #807445;
}
.terracotta-salvadanaio{
    background-image: url(/assets/artigianato/terracotta/artigianato-terracotta-salvadanaio.png);
    background-color: #807445;
}
.terracotta-vaso{
    background-image: url(/assets/artigianato/terracotta/artigianato-terracotta-vaso.png);
    background-color: #807445;
}
.terracotta-pentolone{
    background-image: url(/assets/artigianato/terracotta/artigianato-terracotta-pentolone.png);
    background-color: #807445;
}
.terracotta-gummole{
    background-image: url(/assets/artigianato/terracotta/artigianato-terracotta-gummole.png);
    background-color: #807445;
}
/* Fine Terracotta */
/* Ceramica */
.ceramica-boccale-bicchiere{
    background-image: url(/assets/artigianato/ceramica/artigianato-ceramica-boccale-bicchiere.png);
    background-color: #807445;
}
.ceramica-tazze{
    background-image: url(/assets/artigianato/ceramica/artigianato-ceramica-tazze.png);
    background-color: #807445;
}
.ceramica-caraffe{
    background-image: url(/assets/artigianato/ceramica/artigianato-ceramica-caraffe.png);
    background-color: #807445;
}
.ceramica-portabicchieri{
    background-image: url(/assets/artigianato/ceramica/artigianato-ceramica-portabicchieri.png);
    background-color: #807445;
}
.ceramica-porta-zucchero{
    background-image: url(/assets/artigianato/ceramica/artigianato-ceramica-porta-zucchero.png);
    background-color: #807445;
}
.ceramica-tarzaruli{
    background-image: url(/assets/artigianato/ceramica/artigianato-ceramica-tarzaruli.png);
    background-color: #807445;
}
.ceramica-set-piatti{
    background-image: url(/assets/artigianato/ceramica/artigianato-ceramica-set-piatti.png);
    background-color: #807445;
}
.ceramica-pentolone{
    background-image: url(/assets/artigianato/ceramica/artigianato-ceramica-pentolone.png);
    background-color: #807445;
}
.ceramica-ciotola{
    background-image: url(/assets/artigianato/ceramica/artigianato-ceramica-ciotola.png);
    background-color: #807445;
}
.ceramica-di-seminara{
    background-image: url(/assets/artigianato/ceramica/artigianato-ceramica-di-seminara.png);
    background-color: #807445;
}
/* Fine Ceramica */
/* Souvenir  */
.souvenir-calamite{
    background-image: url(/assets/artigianato/souvenir/souvenir-calamite-cariati.png);
    background-color: #0f0f0f;
}
.souvenir-pescatore{
    background-image: url(/assets/artigianato/souvenir/souvenir-pescatore.png);
    background-color: #001b4d;
}
.souvenir-gufo{
    background-image: url(/assets/artigianato/souvenir/souvenir-gufo.png);
    background-color: #4d2300;
}
.souvenir-alberi-vita{
    background-image: url(/assets/artigianato/souvenir/souvenir-alberi-vita.png);
    background-color: #8ca180;
}
.souvenir-gummole-rotte{
    background-image: url(/assets/artigianato/souvenir/souvenir-gummole-rotte.png);
    background-color: #af7800;
}
/* Fine Souvenir */
/* Fine Artigianato */
/* Suspance */
.suspance{
    background-color: var(--bg);
    height: 450px;
}
/* Fine Suspance */
.content-prod{
    border-top: none;
    background-size: 500px;
    background-position: bottom;
    margin-top: 10px;
}
.title{
    color: var(--title);
    text-align: center;
    padding-top: 70px;
    cursor: default;
}
.title-heading{
    font-size: 85px;
    line-height: 70px;
    letter-spacing: -4px;
    transition: 1s ease-in-out;
}
.title-heading-dark{
    color: var(--title-dark);
}
.title-sub-heading{
    font-size: 35px;
    margin-top: 14px;
    font-weight: 300;
    transition: 1s ease-in-out; 
}
.title-sub-heading-dark{
    color: var(--paragraph-dark);
}
@media screen and (max-width: 730px){
    .prodotti{
        margin-top: 30px;
    }
}
@media screen and (max-width: 600px){
    .content-prod{
        background-size: 350px;   
    }
}
@media screen and (max-width: 400px){
        main .container{
            padding: 0;
        }
        .title-heading{
            font-size: 60px;
        }
        .title-sub-heading{
            font-size: 25px;
        }
}
@media screen and (max-width: 465px){
    .base{
        height: 700px;
    }
    .title-long{
        font-size: 60px;
    }
    .suspance{
        height: 500px;
    }
}
@media screen and (max-width: 360px){
    .title-long{
        font-size: 40px;
        line-height: 40px;
    }
    .card{
        height: 240px;
    }
    .title-card{
        font-size: 20px;
    }
    .img-card{
        width: 150px;
        height: 150px;
    }
    .paragraph-card{
        font-size: 16px;
    }
    .arrow-card-link{
        margin-top: 5px;
        font-size: 18px;
    }
    .card-link{ 
        margin-top: none;
        font-size: 18px;
    }
    /*Prod Page*/
    .base{
        height: 650px;
    }
    .content-prod{
        background-size: 300px;
    }
    .suspance{
        height: 400px;
    }
}
@media screen and (max-width: 250px){
    .base{
        height: 550px;
    }
    .content-prod{
        background-size: 200px;
    }
    .title-heading{
        font-size: 40px;
        letter-spacing: -3px;
        line-height: 40px;
    }
    .title-sub-heading{
        font-size: 18px;
        padding: 0px 5px;
    }
    .suspance{
        height: 400px;
    }
}
@media screen and (max-width: 215px){
    .card{
        height: 210px;
    }
    .img-card{
        width: 120px;
        height: 120px;
    }
    .paragraph-card{
        font-size: 16px;
    }
    .arrow-card-link{
        margin-top: 5px;
        font-size: 18px;
    }
    .card-link{ 
        margin-top: none;
        font-size: 18px;
    }
}