<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Negozio di Detersivi alla Spina Naturali ed Ecologici, Prodotti Tipici della Cultura Calabrese e Artigianato Calabrese.">
    <meta name="robots" content="index, follow">
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>
        Detersivi alla Spina e Prodotti Tipici Calabresi || Pcasa
    </title>
</head>
<body>
    <div class="root-container">
        <nav class="navigation" id="nav"></nav>
        <main>
            <a class="link-product" href="/detersivi">
                <div class="product-container" id="soap">
                    <div class="name-product">
                        <h1 class="title capitalize">detersivi alla spina &#9842;</h1> 
                        Per una migliore gestione della <strong class="capitalize">plastica</strong>
                    </div>
                </div>
            </a>
            <a class="link-product" href="/prodotti-tipici">
                <div class="product-container" id="local-food">
                    <div class="name-product">
                        <h1 class="title capitalize"> prodotti tipici calabresi</h1> 
                        Siediti a tavola con i sapori della <strong class="capitalize">calabria</strong>
                    </div>
                </div>
            </a>
            <a class="link-product" href="/artigianato">
                <div class="product-container" id="art">
                    <div class="name-product">
                        <h1 class="title capitalize">artigianato locale</h1> 
                        Gli oggetti di un tempo con le tecnologie del <strong class="capitalize">presente</strong>
                    </div>
                </div>
            </a>
        </main>
        <footer class="footer"></footer>
    </div>
    <script src="js/create.js" defer="true"></script>
    <script src="js/app.js" defer="true"></script>
</body>
</html>