@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Playfair+Display:wght@400;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .minus_title {
        @apply text-4xl sm:text-5xl md:text-7xl font-bold;
    }

    .standard_title {
        @apply text-5xl sm:text-6xl md:text-8xl font-bold;
    }

    .standard_paragraph,
    .standard_list-item {
        @apply text-3xl sm:text-4xl md:text-5xl;
    }

    .btn_base {
        @apply block w-fit border-2 hover:scale-110 active:scale-95 transition delay-150 ease-in-out duration-300 rounded-full pb-1 px-2 md:pb-2 md:pt-1 md:px-4 font-bold text-lg sm:text-xl md:text-2xl;
    }
}

/* color palette */
:root {
    --color-white: #F1FAEE;
    --color-black: #150b0e;
    --color-black-translucent: #150b0ee0;
    --color-blue: #143348;
    --color-blue-translucent: #143348e0;
    --color-blue-dark-translucent: #05141df0;
    
    --animation-fast: 400ms cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
    --animation-fast-delay: 400ms cubic-bezier(0.215, 0.610, 0.355, 1) forwards 500ms;
    --animation-standard: 500ms cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
    --animation-standard-delay: 500ms cubic-bezier(0.215, 0.610, 0.355, 1) forwards 500ms;
    /* transition: cubic-bezier(0.39, 0.575, 0.565, 1); */
}

body {
    min-width: 240px;
    font-family: 'Playfair Display', serif;
    color: var(--color-black);
    background-color: var(--color-white);

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main_header[data-status="closed"] {
    height: 64px;
}

.main_header[data-status="closed"] .navigation {
    display: none;
}

.main_header[data-status="opened"] {
    animation: heightExpand var(--animation-standard);
}

.main_header[data-status="opened"] .navigation {
    display: flex;
}

.main_header[data-status="closing"] {
    animation: heightContract var(--animation-standard);
}

@keyframes heightExpand {
    0% {
        height: 64px;
        background-color: var(--color-blue-translucent);
    }

    10% {
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
    }

    100% {
        height: 100vh;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
        background-color: var(--color-blue-dark-translucent);
    }
}

@keyframes heightContract {
    0% {
        height: 100vh;
        background-color: var(--color-blue-dark-translucent);
    }

    10% {
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
    }

    100% {
        height: 64px;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
        background-color: var(--color-blue-translucent);
    }
}

@media (min-width: 768px) {
    .main_header[data-status="closed"] .navigation {
        display: flex;
    }
}