@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Playfair+Display:wght@400;600;800&display=swap');

@import url('./tailwind.css');

/* color palette */
:root {
    --color-white: #f7f7f7;
    --color-black: #101010;
    --color-blue: #0063a5;

    --animation-fast: 400ms cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
    --animation-fast-delay: 400ms cubic-bezier(0.215, 0.610, 0.355, 1) forwards 500ms;
    --animation-standard: 500ms cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
    --animation-standard-delay: 500ms cubic-bezier(0.215, 0.610, 0.355, 1) forwards 500ms;
    /* transition: cubic-bezier(0.39, 0.575, 0.565, 1); */
}

body {
    min-width: 320px;
    font-family: 'Playfair Display', serif;
    color: var(--color-black);
    background-color: var(--color-white);

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main_header[data-status="opened"] {
    animation: heightExpand var(--animation-standard);
}

.main_header[data-status="closing"] {
    animation: heightContract var(--animation-standard);
}

.main_header[data-status="closed"] .navigation {
    display: none;
}

.main_header[data-status="opened"] .navigation {
    display: flex;
}

@keyframes heightExpand {
    0% {
        height: 64px;
    }

    100% {
        height: 100vh;
        background-color: var(--color-black);
    }
}

@keyframes heightContract {
    0% {
        height: 100vh;
        background-color: var(--color-black);
    }

    100% {
        height: 64px;
    }
}

@media (min-width: 768px) {
    .main_header[data-status="closed"] .navigation {
        display: flex;
    }
}