*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-width: 300px;
    background-color: #f7f7f7;
    &.open{
        overflow: hidden;
    }
}

a{
    color: currentColor;
    text-decoration: none;
}

ul {
    list-style: none;
}

img{
    max-width: 100%;
}