* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('~/assets/fonts/YesevaOne-regular.ttf') format(truetype);
}

html {
    font-family: 'Yeseva One';
}

body{
    min-width: 300px;
    &.open{
        overflow-y: hidden;
    }
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

ul,
ol {
    list-style: none;
}

