$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

$color-prim: #ffb9ba;
$color-prim-blur: #ffb9ba99;
$color-seco: #0f0f0f;
$color-seco-blur: #0f0f0fdf;

$smaller-size: 0.75rem;
$small-size: 1rem;
$standard-size: 1.25rem;
$big-size: 1.75rem;
$bigger-size: 2.25rem;
$max-size: 2.75rem;
$ultra-size: 3.25rem;

$fast-transition: 800ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
$standard-transition: 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

$custom-fast-transition: 800ms cubic-bezier(.26,.28,.13,1.01);
$custom-standard-transition: 1000ms cubic-bezier(.26,.28,.13,1.01);