$sm: 640px;
$md: 750px;
$lg: 1024px;
$xl: 1200px;

$color-prim: #457b9d;
$color-prim-blur: #457b9daa;
$color-prim-darker: #143348;
$color-prim-darker-blur: #143348aa;
$color-seco: #f1faee;
$color-seco-darker: #dce0da;
$color-link: #e63946;
$color-link-darker: #902029;


$smaller-size: 0.75rem;
$small-size: 1rem;
$standard-size: 1.25rem;
$big-size: 1.75rem;
$bigger-size: 2rem;

$fast-transition: 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
$standard-transition: 800ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
$slow-transition: 1200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);