/* Element */

.mark-link {
  color: var(--pc-color-link);
  font-weight: 600;
}
.mark-seco-darker {
  color: var(--pc-color-seco-darker);
  font-weight: 600;
}

.btn_cta {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  width: fit-content;
  padding-left: 0.35rem;

  color: var(--pc-color-prim);
}

.btn_cta>.svg_icon {
  fill: var(--pc-color-prim);
  height: 1.25rem;
  width: auto;
  position: relative;
  top: 0.1rem;
}

.btn_cta:hover,
.btn_cta:hover>.svg_icon {
  color: var(--pc-color-seco-darker);
  fill: var(--pc-color-seco-darker);
}

.btn_cta-text{
  color: var(--pc-color-black);
  font-size: 1.75rem;
}

.btn_cta-text>.svg_icon {
  fill: var(--pc-color-black);
  height: 1.75rem;
  position: relative;
  top: 0.1rem;
}
/* Footer Lists */
.main_footer .list {
  flex-basis: 100%;
}

.main_footer .list_item {
  border-bottom: 3px solid var(--pc-color-white);
}

.main_footer .item_link {
  display: block;
  padding: 0;

  font-weight: 500;
  line-height: 1.5;
  font-size: 2rem;
  letter-spacing: -0.1rem;
  text-transform: capitalize;
  color: var(--pc-color-white);

  transform: translateX(0);
  transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.main_footer .item_link:hover {
  transform: translateX(1rem);
  color: var(--pc-color-link);
}

@media(min-width: 1024px) {
  .main_footer .list {
      flex-grow: 1;
  }
}