/* Element */

.mark-link {
  color: var(--pc-color-link);
  font-weight: 600;
}
.mark-seco-darker {
  color: var(--pc-color-seco-darker);
  font-weight: 600;
}

.btn_cta {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  width: fit-content;

  border-radius: 1rem;
  padding: 1rem 1.5rem;
  color: var(--pc-color-white);
  background-color: var(--pc-color-prim-translucent);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.btn_cta>.svg_icon {
  fill: var(--pc-color-seco);
  height: 1.25rem;
  width: auto;
}

.btn_cta:hover,
.btn_cta:hover>.svg_icon {
  color: var(--pc-color-link);
  fill: var(--pc-color-link);
}

.btn_cta-text{
  color: var(--pc-color-black);
  background-color: var(--pc-color-seco);
  font-size: 1.75rem;
}
.btn_cta-text>.svg_icon {
  fill: var(--pc-color-black);
  height: 1.75rem;
  position: relative;
  top: 0.1rem;
}
/* Footer Lists */
.main_footer .list {
  flex-basis: 100%;
}

.main_footer .list_item {
  border-bottom: 3px solid var(--pc-color-white);
}

.main_footer .item_link {
  display: block;
  padding: 0;

  font-weight: 500;
  line-height: 1.5;
  font-size: 2rem;
  letter-spacing: -0.1rem;
  text-transform: capitalize;
  color: var(--pc-color-white);

  position: relative;
  left: 0;
  transition: 300ms ease-in-out;
}

.main_footer .item_link:hover {
  left: 0.75rem;
  color: var(--pc-color-link);
}

@media(min-width: 1024px) {
  .main_footer .list {
      flex-grow: 1;
  }
}